.Description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: gray;
  font-style: italic;
  padding: 0px;
  margin: 10px;
  line-height: 18px;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  margin: 10px;
}

h2 {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 30px;
  margin: 10px;
}

.Year {
  font-family: "Architects Daughter", cursive;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 40px;
}

.Title {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 0px;
}
